@page "/qual/addnewqual"
@using ClassLibraryModel
@using ClassLibraryDAL
@inject NavigationManager nm

<h3>AddNewQualification</h3>

<br />
<EditForm Model="qualModel" OnSubmit="SaveQual">

	<input type="text" @bind-value="qualModel.QualTitle" placeholder="Enter Qualification Title" />
	<br />
	<br />
	<button type="submit" class="btn btn-outline-primary btn-sm">Save</button>

</EditForm>
<br />

@code {
	private QualModel qualModel { get; set; } = new QualModel();
	private void SaveQual()
	{

		if (QualDAL.SaveQual(qualModel) == 1)
		{
			nm.NavigateTo("qual/qualifications");
		}
	}
}
