<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SuperAdmin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="org/organizations">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Organizations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dept/department">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Departments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pos/positions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Position
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exp/expertise">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Expertise
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="qual/qualifications">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Qualification
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="facl/faculty">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Faculty
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
