@page "/Faculty/faculty"

<h3>Faculty</h3>


<a href="/Faculty/addnewfaculty" class="btn btn-primary btn-sm">Add New Faculty</a>

<table class="table table-bordered">
	<tr>
		<td>1</td>
		<td>Dr Ashfaq Hussain Farooqi</td>
		<td>
			<a href="student/1" class="btn btn-primary btn-sm">View Students</a>
			<a href="/deletefac" class="btn btn-primary btn-sm">Delete</a>
			<a href="/updatefac" class="btn btn-primary btn-sm">Update</a>
		</td>
	</tr>

	<tr>
		<td>2</td>
		<td>Mr Junaid Nazar</td>
		<td>
			<a href="student/1" class="btn btn-primary btn-sm">View Students</a>
			<a href="/deletefac" class="btn btn-primary btn-sm">Delete</a>
			<a href="/updatefac" class="btn btn-primary btn-sm">Update</a>
		</td>
	</tr>

	<tr>
		<td>3</td>
		<td>Mr Asim Ali</td>
		<td>
			<a href="student/1" class="btn btn-primary btn-sm">View Students</a>
			<a href="/deletefac" class="btn btn-primary btn-sm">Delete</a>
			<a href="/updatefac" class="btn btn-primary btn-sm">Update</a>
		</td>
	</tr>

	<tr>
		<td>4</td>
		<td>Ms Hina Nasir</td>
		<td>
			<a href="student/1" class="btn btn-primary btn-sm">View Students</a>
			<a href="/deletefac" class="btn btn-primary btn-sm">Delete</a>
			<a href="/updatefac" class="btn btn-primary btn-sm">Update</a>
		</td>
	</tr>

	<tr>
		<td>5</td>
		<td>Ms Qanetah Ahmad</td>
		<td>
			<a href="student/1" class="btn btn-primary btn-sm">View Students</a>
			<a href="/deletefac" class="btn btn-primary btn-sm">Delete</a>
			<a href="/updatefac" class="btn btn-primary btn-sm">Update</a>
		</td>
	</tr>
</table>


@code {

}