@page "/others/nestedPages"
@attribute [Authorize(Roles = "Administrator")]

<h3>All Other Pages</h3>
<br />
<h5>
    Country: <a href="others/country" class="btn btn-outline-primary btn-sm">View Country</a>
</h5>
<br />
<h5>
    City   : <a href="others/city" class="btn btn-outline-primary btn-sm">View City</a>
</h5>
<br />
<h5>
    Roles  : <a href="others/roles" class="btn btn-outline-primary btn-sm">View Roles</a>
</h5>
<br />
<h5>
    Gender : <a href="others/gender" class="btn btn-outline-primary btn-sm">View Gender</a>
</h5>
<br />
<h5>
    FYP : <a href="others/fyp" class="btn btn-outline-primary btn-sm">View FYP</a>
</h5>
<br />
<h5>
    Positions  : <a href="pos/positions" class="btn btn-outline-primary btn-sm">View Position</a>
</h5>
<br />
<h5>
    Expertise : <a href="exp/expertise" class="btn btn-outline-primary btn-sm">View Expertise</a>
</h5>
<br />
<h5>
    Qualifications : <a href="qual/qualifications" class="btn btn-outline-primary btn-sm">View Qualification</a>
</h5>
<br />






@code {

}
