@page "/org/addneworg"
@using ClassLibraryModel
@using ClassLibraryDAL
@inject NavigationManager nm

<h3>Add New Organization</h3>
<br />
<EditForm Model="orgModel" OnSubmit="SaveOrg">

	<input type="text" @bind-value="orgModel.OrgName" placeholder="Enter Organization Name" />
	<br />
	<input type="text" @bind-value="orgModel.OrgAddress" placeholder="Enter Address" />
	<br />
	<input type="text" @bind-value="orgModel.OrgPhoneNo" placeholder="Enter Phone Number" />
	<br />
	<input type="text" @bind-value="orgModel.OrgEmail" placeholder="Enter Email" />
	<br />
	<br />
	<button type="submit" class="btn btn-outline-primary btn-sm">Save</button>

</EditForm>
<br />

@code {

	private OrgModel orgModel { get; set; } = new OrgModel();
	private void SaveOrg()
	{

		if (OrgDAL.SaveOrg(orgModel)==1)
		{
			nm.NavigateTo("org/organizations");
		}
	}

}
