@page "/dept/addnewdepartment/{OrgID}"
@using ClassLibraryModel
@using ClassLibraryDAL
@inject NavigationManager nm

<h3>Add New Department</h3>
<br />

<EditForm Model="deptModel" OnSubmit="SaveDept">

	<input type="text" @bind-value="deptModel.DeptName" placeholder="Enter Department Name" />
	<br />
	@*<input type="text" @bind-value="deptModel.OrgID" placeholder="Enter Organization ID" />
	<br />*@
	<br />
	<button type="submit" class="btn btn-outline-primary btn-sm">Save</button>

</EditForm>
<br />

@code {
	[Parameter]
	public string? OrgID { get; set; }
	private DeptModel deptModel { get; set; } = new DeptModel();

	private void SaveDept()
	{
		deptModel.OrgID = int.Parse(OrgID);
		if (DeptDAL.SaveDept(deptModel) == 1)
		{
			nm.NavigateTo("dept/department");
		}
	}
}
