@page "/Department/addnewdepartment/{OrgID}"
@using ClassLibraryModel
@using ClassLibraryDAL

<h3>Add New Department</h3>

<EditForm Model="deptModel" OnSubmit="SaveDept">

	<input type="text" @bind-value="deptModel.DeptName" placeholder="Enter Department Name" />
	<br />
	@*<input type="text" @bind-value="deptModel.OrgID" placeholder="Enter Organization ID" />
	<br />*@
	<br />
	<button type="submit">Save</button>

</EditForm>
<br />
<p>@msg</p>

@code {
	[Parameter]
	public string? OrgID { get; set; }
	private DeptModel deptModel { get; set; } = new DeptModel();
	private string? msg { get; set; }

	private void SaveDept()
	{
		deptModel.OrgID = int.Parse(OrgID);
		int i = DeptDAL.SaveDept(deptModel);
		if (i == 1)
		{
			msg = "Saved";
		}
	}

}
