@page "/dept/department"
@using ClassLibraryDAL
@using ClassLibraryModel

<h3>Departments</h3>

<br />
<a href="dept/addnewdepartment" class="btn btn-outline-primary btn-sm">Add New Department</a>
<br />
<br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Sr#</th>
			<th>Name</th>
			<th>Organization</th>
			<th>Action</th>
		</tr>
	</thead>
	@foreach (var item in deptData)
	{
		<tr>
			<td>@item.DeptID</td>
			<td>@item.DeptName</td>
			<td>@item.OrgID</td>
			<td>
				<button class="btn btn-outline-danger btn-sm"
					@onclick="(()=>DeleteDept(item.DeptID))">
					Delete
				</button>
				<a href="facl/addnewfacl" class="btn btn-outline-primary btn-sm">Add Faculty</a>
			</td>
		</tr>
	}
</table>

@code {

	private List<DeptModel> deptData { get; set; } = new List<DeptModel>();

	protected override void OnInitialized()
	{
		LoadDept();
	}

	private void LoadDept()
	{
		deptData = DeptDAL.GetDept();
	}

	private void DeleteDept(int DeptID)
	{
		if (DeptDAL.DeleteDept(DeptID) == 1)
		{
			LoadDept();
		}
	}

}