@page "/pos/addnewpos"
@page "/pos/addnewpos/{PosID}"
@using ClassLibraryModel
@using ClassLibraryDAL
@inject NavigationManager nm

<h3>AddNewPosition</h3>

<br />
<EditForm Model="posModel" OnSubmit="SavePos">
	<br />
	<label>Title</label>
	<br />
	<input type="text" @bind-value="posModel.PosTitle" placeholder="Enter Position Title" />
	<br />
	<br />
	<button type="submit" class="btn btn-outline-primary btn-sm">@ButtonName</button>

</EditForm>
<br />

@code {

	[Parameter]
	public string? PosID { get; set; }
	public string? ButtonName { get; set; }
	private List<PosModel>? posData { get; set; }

	private PosModel posModel { get; set; } = new PosModel();

	protected override void OnInitialized()
	{
		if (!string.IsNullOrEmpty(PosID))
		{
			ButtonName = "Edit";
			GetData();
			foreach (var item in posData)
			{
				posModel.PosID = item.PosID;
				posModel.PosTitle = item.PosTitle;
			}
		}
		else
		{
			ButtonName = "Save";
		}
	}

	private void SavePos()
	{
		if (ButtonName == "Save")
		{
			if (PosDAL.SavePos(posModel) == 1)
			{
				nm.NavigateTo("pos/positions");
			}
		}
		else
		{
			posModel.PosID = int.Parse(PosID);
			if (PosDAL.SavePos(posModel) == 1)
			{
				nm.NavigateTo("pos/positions");
			}
		}
		
	}

	private void GetData()
	{
		posData = PosDAL.GetPosByID(int.Parse(PosID));
	}

}
