@page "/pos/positions"
@using ClassLibraryDAL
@using ClassLibraryModel
@inject IJSRuntime JSRuntime
@attribute [Authorize(Roles = "Administrator")]

<h3>Positions</h3>

<br />
<a href="pos/addnewpos" class="btn btn-outline-primary btn-sm">Add Position</a>
<br />
<br />

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Sr#</th>
			<th>Title</th>
			<th>Active</th>
			<th>Action</th>
		</tr>
	</thead>
	@foreach (var item in posData)
	{
			<tr>
				<td>@item.PosID</td>
				<td>@item.PosTitle</td>
				<td>@item.PosIsActive</td>
				<td>
					<a href="pos/addnewpos/@item.PosID" class="btn btn-outline-primary btn-sm">Edit</a>
					<button class="btn btn-outline-danger btn-sm"
					@onclick="(()=>ConfirmDelete(item.PosID))">
						Delete
					</button>
				</td>
			</tr>
	}
</table>


@code {
	private List<PosModel> posData { get; set; } = new List<PosModel>();

	protected override void OnInitialized()
	{
		LoadPos();
	}

	private void LoadPos()
	{
		posData = PosDAL.GetPos();
	}

	private async Task ConfirmDelete(int PosID)
	{
		bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this item?");
		if (confirmed)
		{
			DeletePos(PosID);
		}
	}

	private void DeletePos(int PosID)
	{
		if (PosDAL.DeletePos(PosID) == 1)
		{
			LoadPos();
		}
	}
}
